*
{
	margin: 0;
}
h1 
{
	margin: 1% 0;
	text-align: center;
	color: #594D00;
}
h2, h3
{
	color: #594D00;
	margin-bottom: 1%;
}
h2
{
	margin-left: 42px;
}
.logo
{
	width: 5%;
}
header img
{
	float: left;
	margin: 0.5% 1%;
}
nav
{
	min-height: 70px;
	background-color: #ffcc01;
}
nav ul li
{
	display: inline;
	list-style-type: none;
}
nav ul li a:first-child
{
	margin-left: 5%;
}
nav ul li a
{
	margin: 10% 3%;
	text-decoration: none;
	color: #594D00;
	font-size: 1.2em;
}
nav ul li a:hover
{
	text-decoration: underline;
}