section
{
	margin: 5% 5%;
}
main section p
{
	margin-bottom: 1%;
}
.elementToLeft
{
	float: left;
	margin: 0 5%;
}
.text
{
	line-height: 180%;
	text-align: justify;
	font-size: 1.2em;
}
.text a
{
	color: #897F3F;
	text-decoration: none;
}
.text a:hover
{
	text-decoration: underline;
}

/* SECTION 1*/
.img1
{
	width: 30%;
}
section:first-child
{
	min-height: 500px;
}
/* END SECTION 1*/

/* SECTION 2*/
section:nth-child(2)
{
	min-height: 550px;
}
.schedule
{
	margin-left: 5%;
	width: 70%;
	border: 1px solid;
	border-collapse: collapse;
	text-align: center;
}

.schedule td, .schedule th
{
	border-right: 1px solid;
}
/* END SECTION 2*/

/* SECTION 3*/
article
{
	float: left;
	width: 75%;
	height: 500px;
}
article img
{
	width: 70%;
	margin: 5%;
}
aside
{
	height: 400px;
}
aside img
{
	width: 10%;
	margin: 0 0 2% 1%;
}
.usefulLinks
{
	list-style-type: none;
	
}
.usefulLinks a
{
	text-decoration: none;
	color: #897F3F;
}
.usefulLinks a:hover
{
	text-decoration: underline;
}

/* END SECTION 3*/

/* SECTION 4*/
section form
{
	width: 50%;
	margin-left: 5%;
}
input
{
	margin-top: 1%;
}
em
{
	color: red;
}
/* END SECTION 4*/


/* SECTION 5 */
dt
{
	margin: 1%;
	font-weight: bold;
}
dl
{
	margin-left: 5%;
}
video
{
	width: 50%;
}
/*END SECTION 5 */


/* для сторінки Історія*/
details summary
{
	color: #594D00;
	margin-left: 5%;
	line-height: 180%;
	font-size: 1.2em;
}
details p
{
	margin-left: 5%;
	line-height: 180%;
	text-align: justify;
}


/* для сторінки Про клуб*/
dialog
{
	top: 50%;
	left: 42%;
}

/* для сторінки Фотогаларея*/
figcaption
{
	text-align: center;
	font-size: 1.5em;
	color: #594D00;
	font-weight: bold;
	margin: 3%;
}
.galImg
{
	width: 25%;
	margin: 1%;
	margin-left: 5%;
}