nav
{
	background-color: #312782;
	min-height: 50px;
}

nav ul li
{
	list-style-type: none;
	display: inline;
	color: #ffffff;
	font-family: "RitaSmith";
	font-size: 1.5em;
	padding: 20px 0;
}
nav ul li:hover
{
	cursor: pointer;
}
nav ul li a
{
	text-decoration: none;
	color: #ffffff;
}
.flex-container
{
	display: flex;
	justify-content: space-around;
}
.inner-ul
{
	display: none;
}