<!doctype html>
<html lang="uk">
	<head>
		<meta charset="UTF-8">
		<title>About</title>
		<link rel="stylesheet" type="text/css" href="../style/main.css"/>
		<script src="script/main.js"></script> 
	</head>
	<body>
		<header>
			<h1>Lumumba badminton club</h1>
			<nav>
				<a href="../index.html"><img src="../image/LumumbsClub_FLAG_700x600.jpg" alt="logo" class="logo"/></a> <!--Буде картинка з прозорим фоном-->
				<ul>
					<li>
						<a href="../index.html">Головна</a>
					</li>
					<li>
						<a href=# >Про клуб</a>
					</li>
					<li>
						<a href="history.html">Історія</a>
					</li>
					<li>
						<a href="badmintonRules.html">Правила гри в бадмінтон</a>
					</li>
					<li>
						<a href="gallery.html">Фотогалерея</a>
					</li>
					<li>
						<a href=#contacts>Контакти</a>
					</li>
				</ul>
			</nav>
		</header>
		<main style="min-height: 300px">
			<dialog open>
				<p>Вітання від Lumumba Club!</p>
			</dialog>
		</main>
		<footer>
			<div id="contacts">
				<p>
					<a href="mailto:lumumba.badminton@gmail.com">Надіслати листа</a><br> lumumba.badminton@gmail.com
				</p>
				<p>
					<a href="tel:+380500505050">Подзвонити</a><br> +380500505050
				</p>
			</div>
		</footer>
	</body>
</html>