<!doctype html>
<html lang="uk">
	<head>
		<meta charset="UTF-8">
		<title>GENERAL HTML REVENKO (30.10.2019)</title>
		<link rel="stylesheet" type="text/css" href="../style/main.css"/>
		<script src="script/main.js"></script> 
	</head>
	<body>
		<header>
			<h1>Lumumba badminton club</h1>
			<nav>
				<a href="../index.html"><img src="../image/LumumbsClub_FLAG_700x600.jpg" alt="logo" class="logo"/></a> <!--Буде картинка з прозорим фоном-->
				<ul>
					<li>
						<a href="../index.html">Головна</a>
					</li>
					<li>
						<a href="aboutClub.html">Про клуб</a>
					</li>
					<li>
						<a href=#>Історія</a>
					</li>
					<li>
						<a href="badmintonRules.html">Правила гри в бадмінтон</a>
					</li>
					<li>
						<a href="gallery.html">Фотогалерея</a>
					</li>
					<li>
						<a href=#contacts>Контакти</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<h2>Історія бадмінтону</h2>
				<p>
					Початком розвитку бадмінтону в Україні вважається <time>1961</time> рік, коли бадмінтоністи Києва, Харкова та Львова взяли участь в офіційних матчевих зустрічах зі спортсменами Москви і Ленінграда.
				</p>
			</section>
			<details>
				<summary>Цікаво...</summary>
				<p>
					Перше тренування клубу цього сезону відбулося <time datetime="2019-09-01 17:00">1-ого вересня о 17:00</time>.
				</p>
			</details>
		</main>
		<footer>
			<div id="contacts">
				<p>
					<a href="mailto:lumumba.badminton@gmail.com">Надіслати листа</a><br> lumumba.badminton@gmail.com
				</p>
				<p>
					<a href="tel:+380500505050">Подзвонити</a><br> +380500505050
				</p>
			</div>
		</footer>
	</body>
</html>