<!doctype html>
<html lang="uk">
	<head>
		<meta charset="UTF-8">
		<title>TASK5 REVENKO (06.11.2019)</title>
		<link rel="stylesheet" type="text/css" href="../style/main.css"/>
		<script src="../script/main.js"></script> 
	</head>
	<body>
		<header>
			<a href=""><img src="../image/igromag_logo.png" alt="logo" class="logo" /></a>
			<h1>Магазин настільних ігор</h1>			
		</header>
		<nav class="menu">
			<ul>
				<li>
					<a href="../index.html"><i class="fas fa-home"></i>Головна</a>
				</li>
				<li><a href="#"><i class="fas fa-puzzle-piece"></i>Каталог</a>
					<ul>
						<li><a href="#">Аксесуари</a></li>
						<li><a href="#" style="color: orange">Настільні ігри</a>
							<ul>
								<li><a href="https://desktopgames.com.ua/ua/catalog/boardgames/dlya-detey/" target="_blank">Для дітей</a></li>
								<li><a href="https://desktopgames.com.ua/ua/catalog/boardgames/dlja-semii/" target="_blank">Для сім'ї</a></li>
								<li><a href="https://desktopgames.com.ua/ua/catalog/boardgames/golovolomki/" target="_blank">Головоломки</a></li>
								<li><a href="https://desktopgames.com.ua/ua/catalog/boardgames/dlja-semii.dlya-otdiha/" target="_blank">Для відпочинку</a></li>
							</ul>
						</li>
						
						<li><a href="#">Подарункові сертифікати</a></li>
					</ul>
				</li>
				<li>
					<a href="#"><i class="fas fa-hat-wizard"></i>Настільний клуб</a>
				</li>
				<li>
					<a href="#"><i class="fas fa-shopping-cart"></i>Замовлення</a>
				</li>
				<li>
					<a href="#"><i class="fas fa-users"></i>Про нас</a>
				</li>
				<li>
					<a href="#"><i class="fas fa-address-card"></i>Контакти</a>
				</li>
			</ul>
		</nav>
		
		<main>
			<section class="aboutUs">				
				<p>Якщо настільна гра - це кілька годин радості і веселощів, то клуб «Ігромаг» може вважатися фабрикою гарного настрою.</p>
				<p>Тут ви завжди можете розраховувати на затишну атмосферу, теплий чай, wi-fi і, звичайно ж, безліч настільних ігор.</p>
				<p>Приходьте з друзями, родинами і коханими. Кожен знайде собі щось до смаку.</p>
			</section>
			<section class="team">
				<div class="info">
					<img src="../image/team/1.jpg">		
					<div class="persInfo">		
						<h3>Олена Міщенко</h3>
						<p>Адміністратор</p>
					</div>
				</div>
				<div class="info">
					<img src="../image/team/2.jpg">
					<h3>Олексій Сергієнко</h3>
					<p>Експерт зі стратегічнизх ігор</p>
				</div>
				<div class="info">
					<img src="../image/team/3.jpg">
					<h3>Аліна Заводська</h3>
					<p>Експерт з логічних ігор</p>
				</div>
				<div class="info">
					<img src="../image/team/4.jpg">
					<h3>Поліна Гарусова</h3>
					<p>Консультант</p>
				</div>
				
			</section>
			<!-- <section class="team">
				<div class="info">
					<img src="../image/team/3.jpg">
					<p>111</p>
					<p>1111</p>
				</div>
				<div class="info">
					<p>222</p>
					<p>1222</p>
				</div>
				<div class="info">
					<p>333</p>
					<p>1333</p>
				</div>
			</section> -->
		</main>
		<footer>
			<div id="contacts" class="footer-col">
				<p>
					<a href="mailto:lumumba.badminton@gmail.com">Надіслати листа</a><br> lumumba.badminton@gmail.com
				</p>
				<p>
					<a href="tel:+380500505050">Подзвонити</a><br> +380500505050
				</p>
			</div>
		</footer>
	</body>
</html>