@font-face
{
	font-family: "Sowjetschablone";
	src: url("../font/Sowjetschablone.ttf");
}
@font-face
{
	font-family: "RitaSmith";
	src: url("../font/RitaSmith.ttf");
}
@font-face
{
	font-family: "Raleway-Light";
	src: url("../font/Raleway-Light.ttf");
}
